<a href="https://colab.research.google.com/github/Hing-9/popup_store/blob/main/Popup_Store_NER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# "효과적인 팝업스토어 연계를 위한 정보 제공방안 연구" Flow Chart.
##1. Transformer를 활용하여 NER로 1차 추출
- 사용 모델 : "monologg/koelectra-base-v3-naver-ner"
- 추가적으로 AI-Hub의 구어체 데이터 사용할 것인지 생각
- 어떤 Tag까지 브랜드 명으로 볼건지 확인

##2. ChatGPT API를 활용하여 2차 추출
- NER로 추출한 후보군 및 전체 context를 입력하여 Quest-Answer로 보정
- 적절한 Prompt 구성이 중요

###====================================

- 여기까지 "브랜드명", "판매품목", "위치", "기간"을 추출
- 사람이 마지막으로 최종 결정을 내리는 것으로

###====================================

##3. 브랜드명으로 감성분석 진행
- Naver Cloud AI 참조

##4. Kakao API로 해당 위치의 정보를 추출
- 기본적으로 주변 지하철 정보, 비슷한 업종의 분포
- 공공데이터로 인구이동정보, 교통정보

##5. 오픈기간의 시계열 정보를 활용
- 날씨, 계절

#환경설정

## Library Download

In [ ]:
!pip install transformers
!pip install openai
!pip install PyKakao
!pip install haversine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.29.2-py3-none-any.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 79.7 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Collecting huggingface-hub<1.0,>=0.14.1 (from transformers)
  Downloading huggingface_hub-0.15.1-py3-none-any.whl (236 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.8/236.8 kB 20.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers)
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 77.4 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.15.1 tokenizers-0.13.3 transformers-4.29.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.7-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.0/72.0 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Collecting aiohttp (from openai)
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 60.5 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Collecting multidict<7.0,>=4.5 (from aiohttp->openai)
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 12.8 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp->openai)
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0 (from aiohttp->openai)
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 23.0 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1 (from aiohttp->openai)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 16.7 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2 (from aiohttp->openai)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.7 yarl-1.9.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyKakao
  Downloading PyKakao-0.0.4-py3-none-any.whl (12 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from PyKakao) (1.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from PyKakao) (2.27.1)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from PyKakao) (8.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->PyKakao) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->PyKakao) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->PyKakao) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->PyKakao) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->PyKakao) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->PyKakao) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->PyKakao) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->PyKakao) (1.16.0)
Installing collected packages: PyKakao
Successfully installed PyKakao-0.0.4
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting haversine
  Downloading haversine-2.8.0-py2.py3-none-any.whl (7.7 kB)
Installing collected packages: haversine
Successfully installed haversine-2.8.0

## Library Import

In [ ]:
import pandas as pd
import numpy as np
import re
import ast
import json
from tqdm import tqdm
import time

from transformers import AutoTokenizer, AutoModelForTokenClassification, AutoModel, pipeline
import torch
import openai

from difflib import SequenceMatcher
from datetime import datetime

from PyKakao import Local
from haversine import haversine

# 경고문구 주석처리
import warnings
warnings.filterwarnings(action='ignore')

## Google Drive Connect

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/Graduation-Thesis/NER

Mounted at /content/drive
/content/drive/MyDrive/Graduation-Thesis/NER

## 데이터 Load

In [ ]:
dataset = pd.read_csv("main_df.csv", index_col=0, sep="|").dropna()
dataset

,url,content,date
0,https://www.instagram.com/p/Cs5bRHjv8a-/,⏰ 팝가가 미리 알려주는 “업커밍 팝업스토어”⏰\n\n📝 Dr. GOT YOU 팝업...,2023-05-31
1,https://www.instagram.com/p/CqejZt2Bfym/,💌4월 첫째 주 핫한 팝업 모음. zip💌\n\n✔️한달만 고깃집\n📍강남구 선릉로...,2023-04-01
2,https://www.instagram.com/p/BwbZqTJgeID/,4/19~4/28 봄캠핑대전 in 벨라시타\n\n캠핑족을 부르는 캠핑대전 특가 팝업...,2019-04-19
3,https://www.instagram.com/p/CYJKwfLpbC4/,🔥@yoonj_u 가 다녀오라고 했다! 르르르 하우스의 생생한 후기를 전하는 내발내...,2022-01-03
4,https://www.instagram.com/p/CqehHInBwA7/,"🥓한달만 고깃집 팝업스토어🥓\n\nSNS 맛집 인플루언서, 피그웨이브와 꿉당이 만든...",2023-04-01
...,...,...,...
882,https://www.instagram.com/p/CKdkXlKJ619/,달콤한 코랄핑크🎉치명적 귀여움 🎊무유무유\n\n다꾸의 일인자 무유무유가 돌아왔다! ...,2021-01-25
883,https://www.instagram.com/p/B1a13jtJmsG/,#아슬란팝업스토어\n\n전국에 있는 빵덕후들 울산으로 다 모이는 소식😋🥖\n아슬란 ...,2019-08-21
884,https://www.instagram.com/p/BzVbG6-AObv/,6/28~7/14 아크메드라비 in 롯데백화점 본점\n\n합리적인 가격의 브랜드 아...,2019-06-30
885,https://www.instagram.com/p/BvNhjQDA7Mq/,3/15~4/14 선데이치즈볼 in 강남 카카오프렌즈\n\n못먹어본 사람은 있어도 ...,2019-03-20
886,https://www.instagram.com/p/CngWcdPPIho/,🎁레고 팝업스토어 : 2023년 새해에는 당근! 레고지!🎁\n\n설 연휴를 맞이해 ...,2023-01-17

# 1. 기존 Electra 모델의 사전 학습된 NER로 Tagging 해보기

- HuggingFace의 학습된 monologg/koelectra-base-v3-naver-ner 모델을 사용

In [ ]:
model_name = 'monologg/koelectra-base-v3-naver-ner'
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForTokenClassification.from_pretrained(model_name)
ner = pipeline("ner",
               model=model,
               tokenizer=tokenizer,
               ignore_labels=[]  # To show every token result
               )

Downloading (…)okenizer_config.json:   0%|          | 0.00/111 [00:00<?, ?B/s]

Downloading (…)lve/main/config.json:   0%|          | 0.00/1.65k [00:00<?, ?B/s]

Downloading (…)solve/main/vocab.txt:   0%|          | 0.00/263k [00:00<?, ?B/s]

Downloading (…)cial_tokens_map.json:   0%|          | 0.00/112 [00:00<?, ?B/s]

Downloading pytorch_model.bin:   0%|          | 0.00/449M [00:00<?, ?B/s]

In [ ]:
def get_tags(text) : 

    # 입력받은 텍스트를 선언한 pipeline(ner())으로 Token 분류
    output = ner(text)

    # 결과를 ['팝', '###업', '###스' ...]이 아닌, 어절 단위(띄어쓰기 기준)로 나오도록 변경하는 작업
    words = text.split()
    tokens_mask = []
    for word in words:
        word_tokens = tokenizer.tokenize(word)
        if not word_tokens:
            word_tokens = [tokenizer.unk_token]  # For handling the bad-encoded word
        tokens_mask.extend([1] + [0] * (len(word_tokens) - 1))

    assert len(tokens_mask) == len(output)

    word_idx = 0
    word_list = []
    candi_word_list = []
    date_list = []
    loc_list = []

    for mask, token in zip(tokens_mask, output):
        if mask == 1:
            token['word'] = words[word_idx]
            word_idx += 1

            # 개채명은 'ORG-B', 'ORG-I'등으로 나오므로, BIO표현을 제외함.
            token['entity'] = token['entity'][:3]
            
            if token['entity'] != 'O' :
                word_list.append(token)

            if token['entity'] in ['ORG', 'EVT', 'AFW'] : # 개체명 중 브랜드에 가까운 개체명을 추출 (추가고려대상 : AFW, CVL)
                if '백화점' not in token['word'] :
                    candi_word_list.append(token['word'])
                else :
                    loc_list.append(token['word'])
            
            if token['entity'] in ['DAT'] :
                date_list.append(token['word'])
            
            if token['entity'] in ['LOC'] :
                loc_list.append(token['word'])

    result = {
        # 'all_tags' : word_list,
        'brandNm' : list(set(candi_word_list)),
        'date' : date_list,
        'location' : loc_list
    }

    return result

- (참조) Naver Ner 태그 구분

![image.png]()

In [ ]:
dataset['ner_result'] = dataset['content'].apply(get_tags)

In [ ]:
dataset

# 2. ChatGPT API를 활용하여 NER Tagging 해보기

## Chat Response 추출

In [ ]:
#Open AI API키 입력

### Prompt 생성

(참고) Prompt 양식
- You are the assistant who extracts words from a given pop-up store-related sentence. The words to extract are as follows. 1. Brand name, 2. Product category 3. Location, 4. Period. In addition, the output form is provided in the form of json structure as follows. {"brandNm": (1.), "product": (2.), "location": (3.), "date": (4.)}.
- 당신은 정해진 팝업스토어 관련 문장에서 단어를 추출하는 어시스턴트입니다. 추출할 단어는 다음과 같습니다. 1. 브랜드명, 2. 상품 카테고리 3. 위치, 4. 기간. 또한 출력 형식은 다음과 같이 json 구조 형식으로 제공됩니다. {"brandNm": (1.), "product": (2.), "location": (3.), "date": (4.)}.

In [ ]:
def get_gpt(text) :
    messages = [
        {'role':'system', 'content':'You are the assistant who extracts words from a given pop-up store-related sentence. The words to extract are as follows. 1. Brand name, 2. Product category 3. Location, 4. Period. In addition, the output form is provided in the form of json structure as follows. {"brandNm": (1.), "product": (2.), "location": (3.), "date": (4.)}.'},
        {'role':'user', 'content':text}
    ]

    completion = openai.ChatCompletion.create(
        model = 'gpt-3.5-turbo',
        messages=messages
    )

    chat_response = completion.choices[0].message.content
    return chat_response

In [ ]:
# GPT 응답분 리셋
dataset['gpt_result'] = ''
dataset

,url,content,date,gpt_result
0,https://www.instagram.com/p/Cs5bRHjv8a-/,⏰ 팝가가 미리 알려주는 “업커밍 팝업스토어”⏰\n\n📝 Dr. GOT YOU 팝업...,2023-05-31,
1,https://www.instagram.com/p/CqejZt2Bfym/,💌4월 첫째 주 핫한 팝업 모음. zip💌\n\n✔️한달만 고깃집\n📍강남구 선릉로...,2023-04-01,
2,https://www.instagram.com/p/BwbZqTJgeID/,4/19~4/28 봄캠핑대전 in 벨라시타\n\n캠핑족을 부르는 캠핑대전 특가 팝업...,2019-04-19,
3,https://www.instagram.com/p/CYJKwfLpbC4/,🔥@yoonj_u 가 다녀오라고 했다! 르르르 하우스의 생생한 후기를 전하는 내발내...,2022-01-03,
4,https://www.instagram.com/p/CqehHInBwA7/,"🥓한달만 고깃집 팝업스토어🥓\n\nSNS 맛집 인플루언서, 피그웨이브와 꿉당이 만든...",2023-04-01,
...,...,...,...,...
882,https://www.instagram.com/p/CKdkXlKJ619/,달콤한 코랄핑크🎉치명적 귀여움 🎊무유무유\n\n다꾸의 일인자 무유무유가 돌아왔다! ...,2021-01-25,
883,https://www.instagram.com/p/B1a13jtJmsG/,#아슬란팝업스토어\n\n전국에 있는 빵덕후들 울산으로 다 모이는 소식😋🥖\n아슬란 ...,2019-08-21,
884,https://www.instagram.com/p/BzVbG6-AObv/,6/28~7/14 아크메드라비 in 롯데백화점 본점\n\n합리적인 가격의 브랜드 아...,2019-06-30,
885,https://www.instagram.com/p/BvNhjQDA7Mq/,3/15~4/14 선데이치즈볼 in 강남 카카오프렌즈\n\n못먹어본 사람은 있어도 ...,2019-03-20,
886,https://www.instagram.com/p/CngWcdPPIho/,🎁레고 팝업스토어 : 2023년 새해에는 당근! 레고지!🎁\n\n설 연휴를 맞이해 ...,2023-01-17,

In [ ]:
# 완료되면 지우는 형식이라서 copy 사용.
dataset_gpt = dataset.copy()

In [ ]:
# df_popup = pd.DataFrame(columns=['brandNm', 'product', 'location', 'date', 'post_date']) #처음 시작 시 사용
df_popup = pd.read_csv("popup_info_df.csv", index_col=0, sep="|").dropna() #저장된 데이터가 있을 경우 사용
df_popup

,brandNm,product,location,date,post_date,origin_data_index
0,Dr. GOT YOU,식료품 및 굿즈,신세계 프리미엄 아울렛 여주점 EAST 광장,06.02(금)-06.11(일),2023-05-31,0.0
1,"['한달만 고깃집', 'KitKat Land', 'KANU HOUSE', 'Keds...","['음식점', '음식점', '음식점', '신발', '의류', '음식점', '전시',...","['강남구 선릉로155길 23-4 2층', '영등포구 국제금융로 10, IFC몰 L...","['03.15(수)-04.14(금)', '03.24(금)-04.02(일)', '03...",2023-04-01,1.0
2,타키,캠핑용품,벨라시타,4/19~4/28,2019-04-19,2.0
3,르르르 하우스,팝업스토어,마포구 와우산로23길 56,2021.12.24(금)-2022.01.07(금),2022-01-03,3.0
4,한달만고깃집,고깃집,강남구 선릉로155길 23-4 2층,03.15(수)-04.14(금),2023-04-01,4.0
...,...,...,...,...,...,...
252,에고이스트,데님,롯데백화점 본점,3/29~4/14,2019-04-07,258.0
253,까사미아,리빙&라이프스타일,신세계백화점 강남,5/17~6/6,2019-05-27,259.0
254,"['르까레', '베이비블리', '코드먼츠']","['바디', '헤어', '색조', '아동브랜드', '핸드백', '시계', '가죽악세...",[],"['09.04', '-', '09.13', '09.07', '08.04', '-',...",2020-09-07,260.0
255,"['Hugging', 'Sliding to your life', '이게 무슨 일이야...",[],"['성동구 연무장17길 10', '성동구 연무장9길 7', '성동구 서울숲길 43 ...","['06.24(금)-07.07(목)', '06.30(목)-07.10(일)', '06...",2022-07-09,261.0
256,벤앤제리스,아이스크림,연남동,09.20~10.16,2019-10-11,262.0

In [ ]:
already_index = list(set(df_popup['origin_data_index'].astype(int).to_list()))
dataset_gpt.drop(index=already_index, inplace=True)
dataset_gpt

,url,content,date,gpt_result
26,https://www.instagram.com/p/CX-uFocpop9/,🎾국내 첫 테니스 복합문화 공간 센트레코트 가로수 플레이달록가자!\n\n🔥압구정에 ...,2021-12-27,
108,https://www.instagram.com/p/CEBJTXdJ-Vb/,이번주 방문 할 만한\n⭐팝업맛집⭐\n⠀\n귀여운 일러스트 제품 #뚜까따 와\n감성...,2020-08-18,
116,https://www.instagram.com/p/CsKz-NtvSwc/,💌5월 둘째 주 핫한 팝업 모음. zip💌\n\n✔️막내사원 오리엔테이션\n📍강남구...,2023-05-13,
127,https://www.instagram.com/p/Cr4pkwqvqG9/,💌5월 첫째 주 핫한 팝업 모음. zip💌\n\n✔️프레시 샤워 룸\n📍성동구 연무...,2023-05-06,
134,https://www.instagram.com/p/BroO3ixAsFG/,12/15~05/31\n제주맥주 in 전포동\n\n서울 연남에 이어 부산 전포동에 ...,2018-12-21,
...,...,...,...,...
882,https://www.instagram.com/p/CKdkXlKJ619/,달콤한 코랄핑크🎉치명적 귀여움 🎊무유무유\n\n다꾸의 일인자 무유무유가 돌아왔다! ...,2021-01-25,
883,https://www.instagram.com/p/B1a13jtJmsG/,#아슬란팝업스토어\n\n전국에 있는 빵덕후들 울산으로 다 모이는 소식😋🥖\n아슬란 ...,2019-08-21,
884,https://www.instagram.com/p/BzVbG6-AObv/,6/28~7/14 아크메드라비 in 롯데백화점 본점\n\n합리적인 가격의 브랜드 아...,2019-06-30,
885,https://www.instagram.com/p/BvNhjQDA7Mq/,3/15~4/14 선데이치즈볼 in 강남 카카오프렌즈\n\n못먹어본 사람은 있어도 ...,2019-03-20,
886,https://www.instagram.com/p/CngWcdPPIho/,🎁레고 팝업스토어 : 2023년 새해에는 당근! 레고지!🎁\n\n설 연휴를 맞이해 ...,2023-01-17,

#### API 호출
- Row당 최대 3번 반복하여 호출
- 매번 다른 대답이기 때문에, 전처리 시 오류처리 날 경우에는 새롭게 받음.

In [ ]:
for index, data in dataset_gpt[dataset_gpt['gpt_result']==''].iterrows() :
    print(f'Start.. Index : {index}')

    # 정상적으로 데이터를 받아 df_popup에 적재했다면, 3번 도는 for문과, Row별 도는 for문 모두를 나가야 하기 때문에 필요한 변수임.
    flag = False 

    for i in range(3) :
        print(f'Start.. Loop : {i}')

        try :
            test_text = get_gpt(data['content'])
        except :
            time.sleep(1)
            continue

        # 텍스트 전처리
        test_text.replace('\n', ' ') #Enter 제거
        test_text = re.sub('\s+', ' ', test_text) #연속 스페이스 제거

        # 딕셔너리 형태가 필요하므로 {로 시작하는 텍스트 부터 전처리 진행
        start_idx = test_text.find('{')
        if start_idx == -1 :
            continue
        else :
            test_text = test_text[start_idx:]

        # 딕셔너리 형태의 문자열이라면 json 파싱이 될 것!
        try :
            result = json.loads(test_text)
        except :
            continue

        result_arr = []
        if ((type(result['brandNm']) == list) and #value안에 여러개가 있을 때(ex. 5월 팝업 모음집)
            (result['location'] == list and result['date'] == list) and
            (len(result['brandNm']) == len(result['location']) == len(result['date']))) : #product를 제외하고는 모두 길이가 같을 경우에만 진행(GPT가 순서대로 넣었다는 가정 하에)

            tmp_dict = {}
            for i in range(len(result['brandNm'])) :
                tmp_dict = {
                    'brandNm' : result['brandNm'][i],
                    'product' : result['product'],
                    'location' : result['location'][i],
                    'date' : result['date'][i],
                }
                result_arr.apend(tmp_dict)
        else :
            result_arr.append(result)

        for each_result in result_arr :
            each_result = dict(zip(['brandNm', 'product', 'location', 'date'], list(each_result.values())))
            
            # Key값이 되는 브랜드이름이 없을 경우, Pass.
            if (not each_result['brandNm']) or (each_result['brandNm'] in ['None', 'null']) :
                continue

            each_result['post_date'] = data['date']
            each_result['origin_data_index'] = index
            df_popup = df_popup.append(each_result, ignore_index = True)
            flag = True

        if flag :
            dataset_gpt = dataset_gpt.drop(index, axis=0)
            break

    if flag :
        # 원 데이터에 결과값 저장
        dataset['gpt_result'][index] = each_result

        # csv Update
        df_popup.to_csv('popup_info_df.csv', sep='|')

Start.. Index : 26
Start.. Loop : 0
Start.. Index : 108
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 116
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 127
Start.. Loop : 0
Start.. Index : 134
Start.. Loop : 0
Start.. Index : 142
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 145
Start.. Loop : 0
Start.. Index : 184
Start.. Loop : 0
Start.. Index : 225
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 254
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 263
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 264
Start.. Loop : 0
Start.. Index : 265
Start.. Loop : 0
Start.. Index : 266
Start.. Loop : 0
Start.. Index : 267
Start.. Loop : 0
Start.. Index : 268
Start.. Loop : 0
Start.. Index : 269
Start.. Loop : 0
Start.. Index : 270
Start.. Loop : 0
Start.. Index : 271
Start.. Loop : 0
Start.. Index : 272
Start.. Loop : 0
Start.. Index : 273
Start.. Loop : 0
Start.. Index : 274
Start.. Loop : 0
Start.. Index : 275
Start.. Loop : 0
Start.. Index : 276
Start.. Loop : 0
Start.. Index : 277
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 278
Start.. Loop : 0
Start.. Index : 279
Start.. Loop : 0
Start.. Index : 280
Start.. Loop : 0
Start.. Index : 281
Start.. Loop : 0
Start.. Index : 282
Start.. Loop : 0
Start.. Index : 283
Start.. Loop : 0
Start.. Index : 284
Start.. Loop : 0
Start.. Index : 285
Start.. Loop : 0
Start.. Index : 286
Start.. Loop : 0
Start.. Index : 287
Start.. Loop : 0
Start.. Index : 288
Start.. Loop : 0
Start.. Index : 289
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 290
Start.. Loop : 0
Start.. Index : 291
Start.. Loop : 0
Start.. Index : 292
Start.. Loop : 0
Start.. Index : 293
Start.. Loop : 0
Start.. Index : 294
Start.. Loop : 0
Start.. Index : 295
Start.. Loop : 0
Start.. Index : 296
Start.. Loop : 0
Start.. Index : 297
Start.. Loop : 0
Start.. Index : 298
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 299
Start.. Loop : 0
Start.. Index : 300
Start.. Loop : 0
Start.. Index : 301
Start.. Loop : 0
Start.. Index : 302
Start.. Loop : 0
Start.. Index : 303
Start.. Loop : 0
Start.. Index : 304
Start.. Loop : 0
Start.. Index : 305
Start.. Loop : 0
Start.. Index : 306
Start.. Loop : 0
Start.. Index : 307
Start.. Loop : 0
Start.. Index : 308
Start.. Loop : 0
Start.. Index : 309
Start.. Loop : 0
Start.. Index : 310
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 311
Start.. Loop : 0
Start.. Index : 312
Start.. Loop : 0
Start.. Index : 313
Start.. Loop : 0
Start.. Index : 314
Start.. Loop : 0
Start.. Index : 315
Start.. Loop : 0
Start.. Index : 316
Start.. Loop : 0
Start.. Index : 317
Start.. Loop : 0
Start.. Index : 318
Start.. Loop : 0
Start.. Index : 319
Start.. Loop : 0
Start.. Index : 320
Start.. Loop : 0
Start.. Index : 321
Start.. Loop : 0
Start.. Index : 322
Start.. Loop : 0
Start.. Index : 323
Start.. Loop : 0
Start.. Index : 324
Start.. Loop : 0
Start.. Index : 325
Start.. Loop : 0
Start.. Index : 326
Start.. Loop : 0
Start.. Index : 327
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 328
Start.. Loop : 0
Start.. Index : 329
Start.. Loop : 0
Start.. Index : 330
Start.. Loop : 0
Start.. Index : 331
Start.. Loop : 0
Start.. Index : 332
Start.. Loop : 0
Start.. Index : 333
Start.. Loop : 0
Start.. Index : 334
Start.. Loop : 0
Start.. Index : 335
Start.. Loop : 0
Start.. Index : 336
Start.. Loop : 0
Start.. Index : 337
Start.. Loop : 0
Start.. Index : 338
Start.. Loop : 0
Start.. Index : 339
Start.. Loop : 0
Start.. Index : 340
Start.. Loop : 0
Start.. Index : 341
Start.. Loop : 0
Start.. Index : 342
Start.. Loop : 0
Start.. Index : 343
Start.. Loop : 0
Start.. Index : 344
Start.. Loop : 0
Start.. Index : 345
Start.. Loop : 0
Start.. Index : 346
Start.. Loop : 0
Start.. Index : 347
Start.. Loop : 0
Start.. Index : 348
Start.. Loop : 0
Start.. Index : 349
Start.. Loop : 0
Start.. Index : 350
Start.. Loop : 0
Start.. Index : 351
Start.. Loop : 0
Start.. Index : 352
Start.. Loop : 0
Start.. Index : 353
Start.. Loop : 0
Start.. Index : 354
Start.. Loop : 0
Start.. Index : 355
Start.. Loop : 0
Start.. Index : 356
Start.. Loop : 0
Start.. Index : 357
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 358
Start.. Loop : 0
Start.. Index : 359
Start.. Loop : 0
Start.. Index : 360
Start.. Loop : 0
Start.. Index : 361
Start.. Loop : 0
Start.. Index : 362
Start.. Loop : 0
Start.. Index : 363
Start.. Loop : 0
Start.. Index : 364
Start.. Loop : 0
Start.. Index : 365
Start.. Loop : 0
Start.. Index : 366
Start.. Loop : 0
Start.. Index : 367
Start.. Loop : 0
Start.. Index : 368
Start.. Loop : 0
Start.. Index : 369
Start.. Loop : 0
Start.. Index : 370
Start.. Loop : 0
Start.. Index : 371
Start.. Loop : 0
Start.. Index : 372
Start.. Loop : 0
Start.. Index : 373
Start.. Loop : 0
Start.. Index : 374
Start.. Loop : 0
Start.. Index : 375
Start.. Loop : 0
Start.. Index : 376
Start.. Loop : 0
Start.. Index : 377
Start.. Loop : 0
Start.. Index : 378
Start.. Loop : 0
Start.. Index : 379
Start.. Loop : 0
Start.. Index : 380
Start.. Loop : 0
Start.. Index : 381
Start.. Loop : 0
Start.. Index : 382
Start.. Loop : 0
Start.. Index : 383
Start.. Loop : 0
Start.. Index : 384
Start.. Loop : 0
Start.. Index : 385
Start.. Loop : 0
Start.. Index : 386
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 387
Start.. Loop : 0
Start.. Index : 388
Start.. Loop : 0
Start.. Index : 389
Start.. Loop : 0
Start.. Index : 390
Start.. Loop : 0
Start.. Index : 391
Start.. Loop : 0
Start.. Index : 392
Start.. Loop : 0
Start.. Index : 393
Start.. Loop : 0
Start.. Index : 394
Start.. Loop : 0
Start.. Index : 395
Start.. Loop : 0
Start.. Index : 396
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 397
Start.. Loop : 0
Start.. Index : 398
Start.. Loop : 0
Start.. Index : 399
Start.. Loop : 0
Start.. Index : 400
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 401
Start.. Loop : 0
Start.. Index : 402
Start.. Loop : 0
Start.. Index : 403
Start.. Loop : 0
Start.. Index : 404
Start.. Loop : 0
Start.. Index : 405
Start.. Loop : 0
Start.. Index : 406
Start.. Loop : 0
Start.. Index : 407
Start.. Loop : 0
Start.. Index : 408
Start.. Loop : 0
Start.. Index : 409
Start.. Loop : 0
Start.. Index : 410
Start.. Loop : 0
Start.. Index : 411
Start.. Loop : 0
Start.. Index : 412
Start.. Loop : 0
Start.. Index : 413
Start.. Loop : 0
Start.. Index : 414
Start.. Loop : 0
Start.. Index : 415
Start.. Loop : 0
Start.. Index : 416
Start.. Loop : 0
Start.. Index : 417
Start.. Loop : 0
Start.. Index : 418
Start.. Loop : 0
Start.. Index : 419
Start.. Loop : 0
Start.. Index : 420
Start.. Loop : 0
Start.. Index : 421
Start.. Loop : 0
Start.. Index : 422
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 423
Start.. Loop : 0
Start.. Index : 424
Start.. Loop : 0
Start.. Index : 425
Start.. Loop : 0
Start.. Index : 426
Start.. Loop : 0
Start.. Index : 427
Start.. Loop : 0
Start.. Index : 428
Start.. Loop : 0
Start.. Index : 429
Start.. Loop : 0
Start.. Index : 430
Start.. Loop : 0
Start.. Index : 431
Start.. Loop : 0
Start.. Index : 432
Start.. Loop : 0
Start.. Index : 433
Start.. Loop : 0
Start.. Index : 434
Start.. Loop : 0
Start.. Index : 435
Start.. Loop : 0
Start.. Index : 436
Start.. Loop : 0
Start.. Index : 437
Start.. Loop : 0
Start.. Index : 438
Start.. Loop : 0
Start.. Index : 439
Start.. Loop : 0
Start.. Index : 440
Start.. Loop : 0
Start.. Index : 441
Start.. Loop : 0
Start.. Index : 442
Start.. Loop : 0
Start.. Index : 443
Start.. Loop : 0
Start.. Index : 444
Start.. Loop : 0
Start.. Index : 445
Start.. Loop : 0
Start.. Index : 446
Start.. Loop : 0
Start.. Index : 447
Start.. Loop : 0
Start.. Index : 448
Start.. Loop : 0
Start.. Index : 449
Start.. Loop : 0
Start.. Index : 450
Start.. Loop : 0
Start.. Index : 451
Start.. Loop : 0
Start.. Index : 452
Start.. Loop : 0
Start.. Index : 453
Start.. Loop : 0
Start.. Index : 454
Start.. Loop : 0
Start.. Index : 455
Start.. Loop : 0
Start.. Index : 456
Start.. Loop : 0
Start.. Index : 457
Start.. Loop : 0
Start.. Index : 458
Start.. Loop : 0
Start.. Index : 459
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 460
Start.. Loop : 0
Start.. Index : 461
Start.. Loop : 0
Start.. Index : 462
Start.. Loop : 0
Start.. Index : 463
Start.. Loop : 0
Start.. Index : 464
Start.. Loop : 0
Start.. Index : 465
Start.. Loop : 0
Start.. Index : 466
Start.. Loop : 0
Start.. Index : 467
Start.. Loop : 0
Start.. Index : 468
Start.. Loop : 0
Start.. Index : 469
Start.. Loop : 0
Start.. Index : 470
Start.. Loop : 0
Start.. Index : 471
Start.. Loop : 0
Start.. Index : 472
Start.. Loop : 0
Start.. Index : 473
Start.. Loop : 0
Start.. Index : 474
Start.. Loop : 0
Start.. Index : 475
Start.. Loop : 0
Start.. Index : 476
Start.. Loop : 0
Start.. Index : 477
Start.. Loop : 0
Start.. Index : 478
Start.. Loop : 0
Start.. Index : 479
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 480
Start.. Loop : 0
Start.. Index : 481
Start.. Loop : 0
Start.. Index : 482
Start.. Loop : 0
Start.. Index : 483
Start.. Loop : 0
Start.. Index : 484
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 485
Start.. Loop : 0
Start.. Index : 486
Start.. Loop : 0
Start.. Index : 487
Start.. Loop : 0
Start.. Index : 488
Start.. Loop : 0
Start.. Index : 489
Start.. Loop : 0
Start.. Index : 490
Start.. Loop : 0
Start.. Index : 491
Start.. Loop : 0
Start.. Index : 492
Start.. Loop : 0
Start.. Index : 493
Start.. Loop : 0
Start.. Index : 494
Start.. Loop : 0
Start.. Index : 495
Start.. Loop : 0
Start.. Index : 496
Start.. Loop : 0
Start.. Index : 497
Start.. Loop : 0
Start.. Index : 498
Start.. Loop : 0
Start.. Index : 499
Start.. Loop : 0
Start.. Index : 500
Start.. Loop : 0
Start.. Index : 501
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 502
Start.. Loop : 0
Start.. Index : 503
Start.. Loop : 0
Start.. Index : 504
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 505
Start.. Loop : 0
Start.. Index : 506
Start.. Loop : 0
Start.. Index : 507
Start.. Loop : 0
Start.. Index : 508
Start.. Loop : 0
Start.. Index : 509
Start.. Loop : 0
Start.. Index : 510
Start.. Loop : 0
Start.. Index : 511
Start.. Loop : 0
Start.. Index : 512
Start.. Loop : 0
Start.. Index : 513
Start.. Loop : 0
Start.. Index : 514
Start.. Loop : 0
Start.. Index : 515
Start.. Loop : 0
Start.. Index : 516
Start.. Loop : 0
Start.. Index : 517
Start.. Loop : 0
Start.. Index : 518
Start.. Loop : 0
Start.. Index : 519
Start.. Loop : 0
Start.. Index : 520
Start.. Loop : 0
Start.. Index : 521
Start.. Loop : 0
Start.. Index : 522
Start.. Loop : 0
Start.. Index : 523
Start.. Loop : 0
Start.. Index : 524
Start.. Loop : 0
Start.. Index : 525
Start.. Loop : 0
Start.. Index : 526
Start.. Loop : 0
Start.. Index : 527
Start.. Loop : 0
Start.. Index : 528
Start.. Loop : 0
Start.. Index : 529
Start.. Loop : 0
Start.. Index : 530
Start.. Loop : 0
Start.. Index : 531
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 532
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 533
Start.. Loop : 0
Start.. Index : 534
Start.. Loop : 0
Start.. Index : 535
Start.. Loop : 0
Start.. Index : 536
Start.. Loop : 0
Start.. Index : 537
Start.. Loop : 0
Start.. Index : 538
Start.. Loop : 0
Start.. Index : 539
Start.. Loop : 0
Start.. Index : 540
Start.. Loop : 0
Start.. Index : 541
Start.. Loop : 0
Start.. Index : 542
Start.. Loop : 0
Start.. Index : 543
Start.. Loop : 0
Start.. Index : 544
Start.. Loop : 0
Start.. Index : 545
Start.. Loop : 0
Start.. Index : 546
Start.. Loop : 0
Start.. Index : 547
Start.. Loop : 0
Start.. Index : 548
Start.. Loop : 0
Start.. Index : 549
Start.. Loop : 0
Start.. Index : 550
Start.. Loop : 0
Start.. Index : 551
Start.. Loop : 0
Start.. Index : 552
Start.. Loop : 0
Start.. Index : 553
Start.. Loop : 0
Start.. Index : 554
Start.. Loop : 0
Start.. Index : 555
Start.. Loop : 0
Start.. Index : 556
Start.. Loop : 0
Start.. Index : 557
Start.. Loop : 0
Start.. Index : 558
Start.. Loop : 0
Start.. Index : 559
Start.. Loop : 0
Start.. Index : 560
Start.. Loop : 0
Start.. Index : 561
Start.. Loop : 0
Start.. Index : 562
Start.. Loop : 0
Start.. Index : 563
Start.. Loop : 0
Start.. Index : 564
Start.. Loop : 0
Start.. Index : 565
Start.. Loop : 0
Start.. Index : 566
Start.. Loop : 0
Start.. Index : 567
Start.. Loop : 0
Start.. Index : 568
Start.. Loop : 0
Start.. Index : 569
Start.. Loop : 0
Start.. Index : 570
Start.. Loop : 0
Start.. Index : 571
Start.. Loop : 0
Start.. Index : 572
Start.. Loop : 0
Start.. Index : 573
Start.. Loop : 0
Start.. Index : 574
Start.. Loop : 0
Start.. Index : 575
Start.. Loop : 0
Start.. Index : 576
Start.. Loop : 0
Start.. Index : 577
Start.. Loop : 0
Start.. Index : 578
Start.. Loop : 0
Start.. Index : 579
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 580
Start.. Loop : 0
Start.. Index : 581
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 582
Start.. Loop : 0
Start.. Index : 583
Start.. Loop : 0
Start.. Index : 584
Start.. Loop : 0
Start.. Index : 585
Start.. Loop : 0
Start.. Index : 586
Start.. Loop : 0
Start.. Index : 587
Start.. Loop : 0
Start.. Index : 588
Start.. Loop : 0
Start.. Index : 589
Start.. Loop : 0
Start.. Index : 590
Start.. Loop : 0
Start.. Index : 591
Start.. Loop : 0
Start.. Index : 592
Start.. Loop : 0
Start.. Index : 593
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 594
Start.. Loop : 0
Start.. Index : 595
Start.. Loop : 0
Start.. Index : 596
Start.. Loop : 0
Start.. Index : 597
Start.. Loop : 0
Start.. Index : 598
Start.. Loop : 0
Start.. Index : 599
Start.. Loop : 0
Start.. Index : 600
Start.. Loop : 0
Start.. Index : 601
Start.. Loop : 0
Start.. Index : 602
Start.. Loop : 0
Start.. Index : 603
Start.. Loop : 0
Start.. Index : 604
Start.. Loop : 0
Start.. Index : 605
Start.. Loop : 0
Start.. Index : 606
Start.. Loop : 0
Start.. Index : 607
Start.. Loop : 0
Start.. Index : 608
Start.. Loop : 0
Start.. Index : 609
Start.. Loop : 0
Start.. Index : 610
Start.. Loop : 0
Start.. Index : 611
Start.. Loop : 0
Start.. Index : 612
Start.. Loop : 0
Start.. Index : 613
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 614
Start.. Loop : 0
Start.. Index : 615
Start.. Loop : 0
Start.. Index : 616
Start.. Loop : 0
Start.. Index : 617
Start.. Loop : 0
Start.. Index : 618
Start.. Loop : 0
Start.. Index : 619
Start.. Loop : 0
Start.. Index : 620
Start.. Loop : 0
Start.. Index : 621
Start.. Loop : 0
Start.. Index : 622
Start.. Loop : 0
Start.. Index : 623
Start.. Loop : 0
Start.. Index : 624
Start.. Loop : 0
Start.. Index : 625
Start.. Loop : 0
Start.. Index : 626
Start.. Loop : 0
Start.. Index : 627
Start.. Loop : 0
Start.. Index : 628
Start.. Loop : 0
Start.. Index : 629
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 630
Start.. Loop : 0
Start.. Index : 631
Start.. Loop : 0
Start.. Index : 632
Start.. Loop : 0
Start.. Index : 633
Start.. Loop : 0
Start.. Index : 634
Start.. Loop : 0
Start.. Index : 635
Start.. Loop : 0
Start.. Index : 636
Start.. Loop : 0
Start.. Index : 637
Start.. Loop : 0
Start.. Index : 638
Start.. Loop : 0
Start.. Index : 639
Start.. Loop : 0
Start.. Index : 640
Start.. Loop : 0
Start.. Index : 641
Start.. Loop : 0
Start.. Index : 642
Start.. Loop : 0
Start.. Index : 643
Start.. Loop : 0
Start.. Index : 644
Start.. Loop : 0
Start.. Index : 645
Start.. Loop : 0
Start.. Index : 646
Start.. Loop : 0
Start.. Index : 647
Start.. Loop : 0
Start.. Index : 648
Start.. Loop : 0
Start.. Index : 649
Start.. Loop : 0
Start.. Index : 650
Start.. Loop : 0
Start.. Index : 651
Start.. Loop : 0
Start.. Index : 652
Start.. Loop : 0
Start.. Index : 653
Start.. Loop : 0
Start.. Index : 654
Start.. Loop : 0
Start.. Index : 655
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 656
Start.. Loop : 0
Start.. Index : 657
Start.. Loop : 0
Start.. Index : 658
Start.. Loop : 0
Start.. Index : 659
Start.. Loop : 0
Start.. Index : 660
Start.. Loop : 0
Start.. Index : 661
Start.. Loop : 0
Start.. Index : 662
Start.. Loop : 0
Start.. Index : 663
Start.. Loop : 0
Start.. Index : 664
Start.. Loop : 0
Start.. Index : 665
Start.. Loop : 0
Start.. Index : 666
Start.. Loop : 0
Start.. Index : 667
Start.. Loop : 0
Start.. Index : 668
Start.. Loop : 0
Start.. Index : 669
Start.. Loop : 0
Start.. Index : 670
Start.. Loop : 0
Start.. Index : 671
Start.. Loop : 0
Start.. Index : 672
Start.. Loop : 0
Start.. Index : 673
Start.. Loop : 0
Start.. Index : 674
Start.. Loop : 0
Start.. Index : 675
Start.. Loop : 0
Start.. Index : 676
Start.. Loop : 0
Start.. Index : 677
Start.. Loop : 0
Start.. Index : 678
Start.. Loop : 0
Start.. Index : 679
Start.. Loop : 0
Start.. Index : 680
Start.. Loop : 0
Start.. Index : 681
Start.. Loop : 0
Start.. Index : 682
Start.. Loop : 0
Start.. Index : 683
Start.. Loop : 0
Start.. Index : 684
Start.. Loop : 0
Start.. Index : 685
Start.. Loop : 0
Start.. Index : 686
Start.. Loop : 0
Start.. Index : 687
Start.. Loop : 0
Start.. Index : 688
Start.. Loop : 0
Start.. Index : 689
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 690
Start.. Loop : 0
Start.. Index : 691
Start.. Loop : 0
Start.. Index : 692
Start.. Loop : 0
Start.. Index : 693
Start.. Loop : 0
Start.. Index : 694
Start.. Loop : 0
Start.. Index : 695
Start.. Loop : 0
Start.. Index : 696
Start.. Loop : 0
Start.. Index : 697
Start.. Loop : 0
Start.. Index : 698
Start.. Loop : 0
Start.. Index : 699
Start.. Loop : 0
Start.. Index : 700
Start.. Loop : 0
Start.. Index : 701
Start.. Loop : 0
Start.. Index : 702
Start.. Loop : 0
Start.. Index : 703
Start.. Loop : 0
Start.. Index : 704
Start.. Loop : 0
Start.. Index : 705
Start.. Loop : 0
Start.. Index : 706
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 707
Start.. Loop : 0
Start.. Index : 708
Start.. Loop : 0
Start.. Index : 709
Start.. Loop : 0
Start.. Index : 710
Start.. Loop : 0
Start.. Index : 711
Start.. Loop : 0
Start.. Index : 712
Start.. Loop : 0
Start.. Index : 713
Start.. Loop : 0
Start.. Index : 714
Start.. Loop : 0
Start.. Index : 715
Start.. Loop : 0
Start.. Index : 716
Start.. Loop : 0
Start.. Index : 717
Start.. Loop : 0
Start.. Index : 718
Start.. Loop : 0
Start.. Index : 719
Start.. Loop : 0
Start.. Index : 720
Start.. Loop : 0
Start.. Index : 721
Start.. Loop : 0
Start.. Index : 722
Start.. Loop : 0
Start.. Index : 723
Start.. Loop : 0
Start.. Index : 724
Start.. Loop : 0
Start.. Index : 725
Start.. Loop : 0
Start.. Index : 726
Start.. Loop : 0
Start.. Index : 727
Start.. Loop : 0
Start.. Index : 728
Start.. Loop : 0
Start.. Index : 729
Start.. Loop : 0
Start.. Index : 730
Start.. Loop : 0
Start.. Index : 731
Start.. Loop : 0
Start.. Index : 732
Start.. Loop : 0
Start.. Index : 733
Start.. Loop : 0
Start.. Index : 734
Start.. Loop : 0
Start.. Index : 735
Start.. Loop : 0
Start.. Index : 736
Start.. Loop : 0
Start.. Index : 737
Start.. Loop : 0
Start.. Index : 738
Start.. Loop : 0
Start.. Index : 739
Start.. Loop : 0
Start.. Index : 740
Start.. Loop : 0
Start.. Index : 741
Start.. Loop : 0
Start.. Index : 742
Start.. Loop : 0
Start.. Index : 743
Start.. Loop : 0
Start.. Index : 744
Start.. Loop : 0
Start.. Index : 745
Start.. Loop : 0
Start.. Index : 746
Start.. Loop : 0
Start.. Index : 747
Start.. Loop : 0
Start.. Index : 748
Start.. Loop : 0
Start.. Index : 749
Start.. Loop : 0
Start.. Index : 750
Start.. Loop : 0
Start.. Index : 751
Start.. Loop : 0
Start.. Index : 752
Start.. Loop : 0
Start.. Index : 753
Start.. Loop : 0
Start.. Index : 754
Start.. Loop : 0
Start.. Index : 755
Start.. Loop : 0
Start.. Index : 756
Start.. Loop : 0
Start.. Index : 757
Start.. Loop : 0
Start.. Loop : 1
Start.. Index : 758
Start.. Loop : 0
Start.. Index : 759
Start.. Loop : 0
Start.. Loop : 1
Start.. Loop : 2
Start.. Index : 760
Start.. Loop : 0
Start.. Index : 761
Start.. Loop : 0
Start.. Index : 762
Start.. Loop : 0
Start.. Index : 763
Start.. Loop : 0
Start.. Index : 764
Start.. Loop : 0
Start.. Index : 765
Start.. Loop : 0
Start.. Index : 766
Start.. Loop : 0
Start.. Index : 767
Start.. Loop : 0
Start.. Index : 768
Start.. Loop : 0

In [ ]:
# csv로 저장
df_popup.to_csv('popup_info_df.csv', sep='|')
df_popup

,brandNm,product,location,date,post_date,origin_data_index
0,Dr. GOT YOU,식료품 및 굿즈,신세계 프리미엄 아울렛 여주점 EAST 광장,06.02(금)-06.11(일),2023-05-31,0.0
1,"['한달만 고깃집', 'KitKat Land', 'KANU HOUSE', 'Keds...","['음식점', '음식점', '음식점', '신발', '의류', '음식점', '전시',...","['강남구 선릉로155길 23-4 2층', '영등포구 국제금융로 10, IFC몰 L...","['03.15(수)-04.14(금)', '03.24(금)-04.02(일)', '03...",2023-04-01,1.0
2,타키,캠핑용품,벨라시타,4/19~4/28,2019-04-19,2.0
3,르르르 하우스,팝업스토어,마포구 와우산로23길 56,2021.12.24(금)-2022.01.07(금),2022-01-03,3.0
4,한달만고깃집,고깃집,강남구 선릉로155길 23-4 2층,03.15(수)-04.14(금),2023-04-01,4.0
...,...,...,...,...,...,...
864,무유무유,팝업스토어,롯데몰 김포공항점,1.15(금) - 4.25(일),2021-01-25,882.0
865,아슬란,장산 마늘빵,현대백화점 울산점,8.16~8.22,2019-08-21,883.0
866,아크메드라비,패션,롯데백화점 본점,6/28~7/14,2019-06-30,884.0
867,카카오프렌즈,치즈볼,강남,3/15~4/14,2019-03-20,885.0
868,레고,다양한 제품,송파구 올림픽로 300 잠실 롯데월드몰 1층,01.13(금)-01.25(수),2023-01-17,886.0

## 데이터 정제

In [ ]:
df_popup = pd.read_csv("popup_info_df.csv", index_col=0, sep="|")
df_popup

,brandNm,product,location,date,post_date,origin_data_index
0,Dr. GOT YOU,식료품 및 굿즈,신세계 프리미엄 아울렛 여주점 EAST 광장,06.02(금)-06.11(일),2023-05-31,0.0
1,"['한달만 고깃집', 'KitKat Land', 'KANU HOUSE', 'Keds...","['음식점', '음식점', '음식점', '신발', '의류', '음식점', '전시',...","['강남구 선릉로155길 23-4 2층', '영등포구 국제금융로 10, IFC몰 L...","['03.15(수)-04.14(금)', '03.24(금)-04.02(일)', '03...",2023-04-01,1.0
2,타키,캠핑용품,벨라시타,4/19~4/28,2019-04-19,2.0
3,르르르 하우스,팝업스토어,마포구 와우산로23길 56,2021.12.24(금)-2022.01.07(금),2022-01-03,3.0
4,한달만고깃집,고깃집,강남구 선릉로155길 23-4 2층,03.15(수)-04.14(금),2023-04-01,4.0
...,...,...,...,...,...,...
864,무유무유,팝업스토어,롯데몰 김포공항점,1.15(금) - 4.25(일),2021-01-25,882.0
865,아슬란,장산 마늘빵,현대백화점 울산점,8.16~8.22,2019-08-21,883.0
866,아크메드라비,패션,롯데백화점 본점,6/28~7/14,2019-06-30,884.0
867,카카오프렌즈,치즈볼,강남,3/15~4/14,2019-03-20,885.0
868,레고,다양한 제품,송파구 올림픽로 300 잠실 롯데월드몰 1층,01.13(금)-01.25(수),2023-01-17,886.0

### 복수 데이터 제거
- 하나의 Post에 여러개의 Row가 만들어질 수 없다는 가정
 - 위에서 브랜드명, 위치, 날짜의 추출된 데이터 개수가 모두 같다면 나눠서 넣어주긴 했음!
- 여러 건이면 제외한다 (추후 수동으로 분배할지도 생각)

In [ ]:
print(f'###### 전처리 전 데이터 개수 : {len(df_popup)}') #847

for index, data in df_popup.iterrows() :

    # 배열은 제외 (일단은..)
    for colNm in ['brandNm', 'location', 'date'] :
        if (str(data[colNm]).find('[')!=-1) and (str(data[colNm]).find(']')!=-1) :
            df_popup = df_popup.drop(index, axis=0)
            break

print(f'###### 전처리 후 데이터 개수 : {len(df_popup)}')

###### 전처리 전 데이터 개수 : 784
###### 전처리 후 데이터 개수 : 784

### date 컬럼
 - start_ymd, end_ymd date_diff로 분리 (시작일, 종료일, 기간)

In [ ]:
def extract_date(date_string) :

    date_string = re.sub('\s+', '', str(date_string)) #연속 스페이스 제거

    match0 = re.search(r'\d{2,4}[./-](\d{1,2})[./-](\d{1,2})\D+\d{2,4}[./-](\d{1,2})[./-](\d{1,2})', date_string)
    match1 = re.search(r'\d{2,4}[./-](\d{1,2})[./-](\d{1,2})\D+(\d{1,2})[./-](\d{1,2})', date_string)
    match2 = re.search(r'(\d{1,2})[./-](\d{1,2})\D+(\d{1,2})[./-](\d{1,2})', date_string)
    match3 = re.search(r'(\d{1,2})[월](\d{1,2})[일]\D+(\d{1,2})[월](\d{1,2})[일]', date_string)
    # match4 = re.search(r'(\d{1,2})[./-](\d{1,2})[~-](\d{1,2})$', date_string)

    # print("start!! "+date_string)

    all_date_arr = []

    if match0:
        for i in range(1, 5) :
            all_date_arr.append(match0.group(i))
    elif match1:
        for i in range(1, 5) :
            all_date_arr.append(match1.group(i))
    elif match2:
        for i in range(1, 5) :
            all_date_arr.append(match2.group(i))
    elif match3:
        for i in range(1, 5) :
            all_date_arr.append(match3.group(i))
    # elif match4:
    #     all_date_arr = [match4.group(1), match4.group(2), match4.group(1), match4.group(3)]
    else: 
        # print('out~')
        return None

    # print(all_date_arr)
    start_date = all_date_arr[0].zfill(2) + all_date_arr[1].zfill(2)
    end_date = all_date_arr[2].zfill(2) + all_date_arr[3].zfill(2)

    # print([start_date, end_date])

    return [start_date, end_date]

In [ ]:
print(f'###### 전처리 전 데이터 개수 : {len(df_popup)}') #670
df_popup['start_ymd'] = ''
df_popup['end_ymd'] = ''
df_popup['date_diff'] = ''
for index, data in df_popup.iterrows() :
    mmdd_arr = extract_date(data['date'])

    if not mmdd_arr : 
        continue
    
    if int(mmdd_arr[0][:2]) > int(mmdd_arr[1][:2]) :
        start_ymd = data['post_date'][:4]+mmdd_arr[0]
        end_ymd = str(int(data['post_date'][:4])+1)+mmdd_arr[1]
    else :
        start_ymd = data['post_date'][:4]+mmdd_arr[0]
        end_ymd = data['post_date'][:4]+mmdd_arr[1]

    try :
        start_ymd_tmp = datetime.strptime(start_ymd, "%Y%m%d")
        end_ymd_tmp = datetime.strptime(end_ymd, "%Y%m%d")
        date_diff = end_ymd_tmp - start_ymd_tmp

        if date_diff.days < 0 :
            print('error : '+str(index))
            continue

        # 데이터에 결과값 저장
        df_popup['start_ymd'][index] = start_ymd
        df_popup['end_ymd'][index] = end_ymd
        df_popup['date_diff'][index] = date_diff.days
    except : 
        continue
    
print(f'###### 전처리 후 데이터 개수 : {len(df_popup[df_popup["start_ymd"]!=""])}')

###### 전처리 전 데이터 개수 : 784
###### 전처리 후 데이터 개수 : 694

In [ ]:
# # 수기처리로 꾸역꾸역 넣기
# for index, data in df_popup[df_popup['start_ymd']==''].iterrows() :
#     print(data[['date','post_date']])
#     mmdd_arr = input("Input 'MMDD, MMDD' Here : ").split(',') # 수기처리
#     print('='*60)
    
#     if len(mmdd_arr) < 2 :
#         df_popup = df_popup.drop(index, axis=0)
#         continue
    
#     if int(mmdd_arr[0][:2]) > int(mmdd_arr[1][:2]) :
#         start_ymd = data['post_date'][:4]+mmdd_arr[0]
#         end_ymd = str(int(data['post_date'][:4])+1)+mmdd_arr[1]
#     else :
#         start_ymd = data['post_date'][:4]+mmdd_arr[0]
#         end_ymd = data['post_date'][:4]+mmdd_arr[1]

#     start_ymd_tmp = datetime.strptime(start_ymd, "%Y%m%d")
#     end_ymd_tmp = datetime.strptime(end_ymd, "%Y%m%d")
#     date_diff = end_ymd_tmp - start_ymd_tmp

#     if date_diff.days < 0 :
#         print('error : '+str(index))
    
#     # 데이터에 결과값 저장
#     df_popup['start_ymd'][index] = start_ymd
#     df_popup['end_ymd'][index] = end_ymd
#     df_popup['date_diff'][index] = date_diff.days

### 위치 컬럼
 - kakaoAPI로 검색 후 저장

In [ ]:
df_popup

,brandNm,product,location,date,post_date,origin_data_index,start_ymd,end_ymd,date_diff
0,Dr. GOT YOU,식료품 및 굿즈,신세계 프리미엄 아울렛 여주점 EAST 광장,06.02(금)-06.11(일),2023-05-31,0.0,20230602,20230611,9
2,타키,캠핑용품,벨라시타,4/19~4/28,2019-04-19,2.0,20190419,20190428,9
3,르르르 하우스,팝업스토어,마포구 와우산로23길 56,2021.12.24(금)-2022.01.07(금),2022-01-03,3.0,20221224,20230107,14
4,한달만고깃집,고깃집,강남구 선릉로155길 23-4 2층,03.15(수)-04.14(금),2023-04-01,4.0,20230315,20230414,30
5,노우라이,바디 케어,성수,02.14(화)-03.19(일),2023-03-03,5.0,20230214,20230319,33
...,...,...,...,...,...,...,...,...,...
864,무유무유,팝업스토어,롯데몰 김포공항점,1.15(금) - 4.25(일),2021-01-25,882.0,20210115,20210425,100
865,아슬란,장산 마늘빵,현대백화점 울산점,8.16~8.22,2019-08-21,883.0,20190816,20190822,6
866,아크메드라비,패션,롯데백화점 본점,6/28~7/14,2019-06-30,884.0,20190628,20190714,16
867,카카오프렌즈,치즈볼,강남,3/15~4/14,2019-03-20,885.0,20190315,20190414,30
868,레고,다양한 제품,송파구 올림픽로 300 잠실 롯데월드몰 1층,01.13(금)-01.25(수),2023-01-17,886.0,20230113,20230125,12

In [ ]:
api_key = '' # Kakao Api Key 입력
api = Local(service_key = api_key)

In [ ]:
def find_xy(loc_text) :

    # 괄호 제거
    loc_text = re.sub(r'\([^)]*\)', '', loc_text)

    # 층 정보 제거
    text_arr = loc_text.split()
    for each in text_arr :
        if each[-1:] == '층' :
            text_arr.remove(each)

    loc_text = ' '.join(text_arr)

    for i in range(3) :

        df_result = api.search_keyword(loc_text,  dataframe=True)

        # 검색 결과가 없으면
        if len(df_result) < 1 :
            tmp_arr = loc_text.split()
            
            # 너무 짧으면 그냥 리턴
            if len(tmp_arr) < 2 :
                return pd.DataFrame(['', '', '', ''])
            
            loc_text = ' '.join(tmp_arr[:-1])
        else :
            break
        
    result = df_result.loc[0]

    if result['road_address_name'] :
        address = result['road_address_name']
    else :
        address = result['address_name']

    return [result['place_name'], address, result['x'], result['y']]

In [ ]:
# 검색값 초기화
df_popup['address_name'] = ''
df_popup['address'] = ''
df_popup['x'] = ''
df_popup['y'] = ''

In [ ]:
# 주소 검색
for index, data in df_popup[df_popup['address']==''].iterrows() :

    try :
        result = find_xy(data['location'])
        print(f'============ now start idx : {index}')
        print(result)

        # 원 데이터에 결과값 저장
        df_popup['address_name'][index] = result[0]
        df_popup['address'][index] = result[1]
        df_popup['x'][index] = result[2]
        df_popup['y'][index] = result[3]
    except :
        continue

============ now start idx : 2
['벨라시타', '경기 고양시 일산동구 강송로 33', '126.79145164110946', '37.64205468429397']
============ now start idx : 3
['팝마트 플래그십 스토어', '서울 마포구 와우산로23길 56', '126.923789256948', '37.5552597685399']
============ now start idx : 4
['후추네', '서울 강남구 선릉로155길 23-4', '127.037434057379', '37.5254373129874']
============ now start idx : 5
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 6
['이태원거리', '서울 용산구 이태원동 119-23', '126.99580922812', '37.5345613066561']
============ now start idx : 7
['강남역 2호선 11번출구', '서울 강남구 역삼동 820-10', '127.02750296776951', '37.49883338787401']
============ now start idx : 10
['퍼시픽타워', '서울 중구 세종대로9길 41', '126.972990175293', '37.5613612035272']
============ now start idx : 11
['현대백화점 무역센터점', '서울 강남구 테헤란로 517', '127.05977475920854', '37.508651435836725']
============ now start idx : 12
['갤러리아백화점 WEST점', '서울 강남구 압구정로 343', '127.04014394421372', '37.52842774945761']
============ now start idx : 13
['배스킨라빈스 HIVE한남점', '서울 용산구 독서당로 93', '127.010599186521', '37.5350114057698']
============ now start idx : 15
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 16
['호카 롯데월드몰 잠실점', '서울 송파구 올림픽로 300', '127.104133720427', '37.5136122218451']
============ now start idx : 17
['연남방앗간', '서울 마포구 동교로29길 34', '126.923162089564', '37.5620564830099']
============ now start idx : 18
['리움미술관', '서울 용산구 이태원로55길 60-16', '126.99911744955163', '37.53833657002706']
============ now start idx : 19
['해피치즈스마일 연남점', '서울 마포구 동교로 244-1', '126.924488888313', '37.5617690201817']
============ now start idx : 20
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 22
['롯데월드타워&롯데월드몰', '서울 송파구 올림픽로 300', '127.104079482694', '37.5136519138098']
============ now start idx : 23
['두껍상회 강남', '서울 강남구 강남대로 420', '127.02704431689625', '37.50018049799446']
============ now start idx : 25
['갤러리더봄', '서울 성동구 서울숲2길 42', '127.043140957778', '37.5463349755257']
============ now start idx : 26
['하나은행 Club1 한남PB센터', '서울 용산구 한남대로 98', '127.005494344228', '37.5370002619693']
============ now start idx : 27
['현대백화점 판교점', '경기 성남시 분당구 판교역로146번길 20', '127.11204751299005', '37.39279718014944']
============ now start idx : 28
['프로젝트렌트 2호점', '서울 성동구 서울숲길 50', '127.042974381639', '37.5479027742714']
============ now start idx : 31
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 32
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 33
['인천둘레길 2코스', '인천 서구 공촌동', '126.69011978495455', '37.54411984257326']
============ now start idx : 34
['익선동한옥거리', '서울 종로구 익선동', '126.989775723896', '37.5734371942191']
============ now start idx : 35
['유동커피', '서울 마포구 동교로29길 42', '126.922867448986', '37.5624094814747']
============ now start idx : 37
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 38
['에스팩토리 B동', '서울 성동구 연무장15길 11', '127.059283625744', '37.5426230657514']
============ now start idx : 40
['상암DDMC', '서울 마포구 매봉산로 75', '126.892859814848', '37.5784453978311']
============ now start idx : 41
['일상비일상의틈', '서울 강남구 강남대로 426', '127.02675721166952', '37.50058151106175']
============ now start idx : 42
['신세계백화점 강남점', '서울 서초구 신반포로 176', '127.00432032924516', '37.505305732081965']
============ now start idx : 43
['프로젝트렌트 2호점', '서울 성동구 서울숲길 50', '127.042974381639', '37.5479027742714']
============ now start idx : 44
['신세계백화점 센텀시티점', '부산 해운대구 센텀남대로 35', '129.12907174004943', '35.16864392798528']
============ now start idx : 45
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 46
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 47
['신세계백화점 대구점', '대구 동구 동부로 149', '128.6289648557988', '35.8777969311124']
============ now start idx : 49
['롯데월드타워', '서울 송파구 올림픽로 300', '127.10255558658325', '37.51260447840551']
============ now start idx : 51
['Apple 가로수길', '서울 강남구 가로수길 43', '127.02272940977892', '37.520819816124934']
============ now start idx : 52
['갤러리아백화점 WEST점', '서울 강남구 압구정로 343', '127.04014394421372', '37.52842774945761']
============ now start idx : 53
['글라스하우스', '서울 양천구 목동동로 257', '126.875137489506', '37.5266503573845']
============ now start idx : 54
['새날이사토탈케어', '부산 연제구 과정로114번길 42', '129.109491523846', '35.1815198255625']
============ now start idx : 55
['롯데월드타워', '서울 송파구 올림픽로 300', '127.10255558658325', '37.51260447840551']
============ now start idx : 56
['강남역 2호선', '서울 강남구 강남대로 지하 396', '127.02800140627488', '37.49808633653005']
============ now start idx : 57
['인터컨티넨탈 서울코엑스', '서울 강남구 봉은사로 524', '127.05727267755724', '37.512763958426994']
============ now start idx : 58
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 59
['현대백화점 무역센터점', '서울 강남구 테헤란로 517', '127.05977475920854', '37.508651435836725']
============ now start idx : 60
['현대백화점 무역센터점', '서울 강남구 테헤란로 517', '127.05977475920854', '37.508651435836725']
============ now start idx : 61
['신세계백화점 강남점', '서울 서초구 신반포로 176', '127.00432032924516', '37.505305732081965']
============ now start idx : 62
['현대백화점 판교점', '경기 성남시 분당구 판교역로146번길 20', '127.11204751299005', '37.39279718014944']
============ now start idx : 63
['델픽 팝업스토어', '서울 성동구 성수이로12길 2', '127.05555657713914', '37.53990025493932']
============ now start idx : 64
['코코샌드', '서울 마포구 양화로23길 22-7', '126.92525157239582', '37.55967198533026']
============ now start idx : 65
['신세계백화점 강남점', '서울 서초구 신반포로 176', '127.00432032924516', '37.505305732081965']
============ now start idx : 69
['현대백화점 판교점', '경기 성남시 분당구 판교역로146번길 20', '127.11204751299005', '37.39279718014944']
============ now start idx : 71
['할아버지공장', '서울 성동구 성수이로7가길 9', '127.054835558322', '37.5410980207173']
============ now start idx : 74
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 75
['현대백화점 디큐브시티점', '서울 구로구 경인로 662', '126.88958060554663', '37.50910419634123']
============ now start idx : 77
['롯데백화점 본점', '서울 중구 남대문로 81', '126.98175414832635', '37.564905601247865']
============ now start idx : 81
['나이스웨더마켓', '서울 강남구 강남대로162길 35', '127.02117511258504', '37.52076964884671']
============ now start idx : 82
['델픽 팝업스토어', '서울 성동구 성수이로12길 2', '127.05555657713914', '37.53990025493932']
============ now start idx : 83
['롯데백화점 잠실점', '서울 송파구 올림픽로 240', '127.0985552869803', '37.51201141930842']
============ now start idx : 85
['롯데백화점 본점', '서울 중구 남대문로 81', '126.98175414832635', '37.564905601247865']
============ now start idx : 86
['한남동부군당', '서울 용산구 장문로49길 41', '127.00466563557', '37.5292345694785']
============ now start idx : 87
['홍대입구역 2호선', '서울 마포구 양화로 지하 160', '126.923778562273', '37.5568707448873']
============ now start idx : 88
['아레나광장', '서울 송파구 올림픽로 300', '127.103246377233', '37.5132057471322']
============ now start idx : 89
['LCDC서울', '서울 성동구 연무장17길 10', '127.06154597509', '37.5417353247515']
============ now start idx : 90
['롯데백화점 본점', '서울 중구 남대문로 81', '126.98175414832635', '37.564905601247865']
============ now start idx : 91
['세이투백화점', '대전 중구 계백로 1700', '127.40847852227', '36.3205485729945']
============ now start idx : 92
['Apple 가로수길', '서울 강남구 가로수길 43', '127.02272940977892', '37.520819816124934']
============ now start idx : 93
['현대백화점 판교점', '경기 성남시 분당구 판교역로146번길 20', '127.11204751299005', '37.39279718014944']
============ now start idx : 94
['아모레 성수', '서울 성동구 아차산로11길 7', '127.05918089585325', '37.544358442027864']
============ now start idx : 95
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 97
['갤러리아백화점 WEST점', '서울 강남구 압구정로 343', '127.04014394421372', '37.52842774945761']
============ now start idx : 98
['트레이더스홀세일클럽 위례점', '경기 하남시 위례대로 200', '127.14838297320392', '37.48018806364219']
============ now start idx : 100
['신세계백화점 천안아산점', '충남 천안시 동남구 만남로 43', '127.15606633618994', '36.81948953261511']
============ now start idx : 102
['by대한민국', '서울 강남구 가로수길 69', '127.022380383862', '37.5225543131502']
============ now start idx : 103
['신사하우스', '서울 강남구 강남대로162길 27', '127.020633162734', '37.5204048385658']
============ now start idx : 105
['롯데몰 수지점', '경기 용인시 수지구 성복2로 38', '127.08124612146963', '37.313027282933774']
============ now start idx : 107
['AK플라자 수원', '경기 수원시 팔달구 덕영대로 924', '127.000689957099', '37.2655524309286']
============ now start idx : 108
['LCDC서울', '서울 성동구 연무장17길 10', '127.06154597509', '37.5417353247515']
============ now start idx : 109
['한남동 카페거리', '서울 용산구 한남동', '127.001588561792', '37.5369688440826']
============ now start idx : 110
['스타필드 하남', '경기 하남시 미사대로 750', '127.223691197241', '37.5454930733426']
============ now start idx : 111
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 113
['현대백화점 판교점', '경기 성남시 분당구 판교역로146번길 20', '127.11204751299005', '37.39279718014944']
============ now start idx : 114
['메쉬커피', '서울 성동구 서울숲길 43', '127.042453959446', '37.5481192022199']
============ now start idx : 115
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 116
['신세계백화점 센텀시티점', '부산 해운대구 센텀남대로 35', '129.12907174004943', '35.16864392798528']
============ now start idx : 117
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 118
['더현대 대구', '대구 중구 달구벌대로 2077', '128.59063111852757', '35.86662835745753']
============ now start idx : 119
['파라다이스시티', '인천 중구 영종해안남로321번길 186', '126.45581261785026', '37.43715757694489']
============ now start idx : 121
['현대백화점 목동점', '서울 양천구 목동동로 257', '126.87525853214666', '37.526654089298255']
============ now start idx : 122
['갤러리아백화점 WEST점', '서울 강남구 압구정로 343', '127.04014394421372', '37.52842774945761']
============ now start idx : 123
['갤러리아백화점 WEST점', '서울 강남구 압구정로 343', '127.04014394421372', '37.52842774945761']
============ now start idx : 124
['수피하우스', '서울 성동구 성수이로 71', '127.05584646458347', '37.541717434745294']
============ now start idx : 126
['LCDC서울', '서울 성동구 연무장17길 10', '127.06154597509', '37.5417353247515']
============ now start idx : 127
['이레빌딩', '서울 영등포구 선유동2로 57', '126.897335759076', '37.5341203159822']
============ now start idx : 128
['이태원역 6호선', '서울 용산구 이태원로 지하 177', '126.994333861918', '37.5345252050511']
============ now start idx : 130
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 131
['아이파크몰 용산점', '서울 용산구 한강대로23길 55', '126.96453276994514', '37.52881667725366']
============ now start idx : 132
['분더샵 청담점', '서울 강남구 압구정로60길 21', '127.04195941881609', '37.52586827297847']
============ now start idx : 134
['롯데월드타워', '서울 송파구 올림픽로 300', '127.10255558658325', '37.51260447840551']
============ now start idx : 136
['파르나스몰', '서울 강남구 테헤란로 521', '127.060831669861', '37.5093068276361']
============ now start idx : 137
['롯데백화점 본점', '서울 중구 남대문로 81', '126.98175414832635', '37.564905601247865']
============ now start idx : 139
['현대백화점유플렉스 신촌점', '서울 서대문구 연세로 13', '126.93661730245256', '37.55673777941326']
============ now start idx : 140
['롯데백화점 잠실점', '서울 송파구 올림픽로 240', '127.0985552869803', '37.51201141930842']
============ now start idx : 141
['현대백화점 판교점', '경기 성남시 분당구 판교역로146번길 20', '127.11204751299005', '37.39279718014944']
============ now start idx : 143
['롯데월드타워&롯데월드몰', '서울 송파구 올림픽로 300', '127.104079482694', '37.5136519138098']
============ now start idx : 144
['현대그린푸드베즐리 압구정점', '서울 강남구 압구정로 165', '127.02746817499', '37.5273321555948']
============ now start idx : 145
['석촌호수 서호', '서울 송파구 잠실동 47', '127.099112837006', '37.5076807262772']
============ now start idx : 146
['정샘물 플롭스', '서울 강남구 가로수길 51-1', '127.022497672095', '37.5213541552034']
============ now start idx : 147
['아세안문화원', '부산 해운대구 좌동로 162', '129.181951498616', '35.175183812067']
============ now start idx : 149
['현대백화점 압구정본점', '서울 강남구 압구정로 165', '127.02747045214494', '37.527371799149506']
============ now start idx : 150
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 151
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 154
['우프바이베럴즈 신사점', '서울 강남구 강남대로162길 36', '127.0214239323115', '37.52060742344531']
============ now start idx : 156
['KT&G상상마당 홍대', '서울 마포구 어울마당로 65', '126.921068533254', '37.5510088755674']
============ now start idx : 158
['현대백화점유플렉스 중동점', '경기 부천시 길주로 172', '126.7611135134866', '37.50447140216988']
============ now start idx : 159
['피디오클래식 롯데백화점 인천점', '인천 미추홀구 연남로 35', '126.701518656935', '37.4425060496762']
============ now start idx : 161
['YES24', '서울 영등포구 은행로 11', '126.920355094609', '37.5280653362469']
============ now start idx : 162
['Apple 가로수길', '서울 강남구 가로수길 43', '127.02272940977892', '37.520819816124934']
============ now start idx : 164
['스타필드 코엑스몰', '서울 강남구 영동대로 513', '127.05977688598037', '37.51131840799449']
============ now start idx : 165
['갤러리아포레아파트', '서울 성동구 서울숲2길 32-14', '127.04247979310725', '37.54578380383026']
============ now start idx : 168
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 169
['꼴라보하우스 도산', '서울 강남구 언주로164길 21-3', '127.035228201459', '37.5257353222619']
============ now start idx : 171
['경복궁', '서울 종로구 사직로 161', '126.976896737645', '37.5776087830657']
============ now start idx : 172
['신세계백화점 타임스퀘어점', '서울 영등포구 영중로 9', '126.90561074423691', '37.51718207734634']
============ now start idx : 173
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 174
['현대백화점 무역센터점', '서울 강남구 테헤란로 517', '127.05977475920854', '37.508651435836725']
============ now start idx : 175
['경복궁역 3호선 3번출구', '서울 종로구 적선동 106', '126.972717612994', '37.5763104593643']
============ now start idx : 176
['디젤 한남플래그십스토어점', '서울 용산구 이태원로 258', '127.00136906935', '37.5374986350849']
============ now start idx : 177
['을지로지하상가', '서울 중구 을지로 지하 106', '126.989758599285', '37.5662256252258']
============ now start idx : 180
['옥림빌딩', '서울 강남구 신사동', '127.022959446615', '37.522128928734']
============ now start idx : 182
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 183
['프로젝트렌트 2호점', '서울 성동구 서울숲길 50', '127.042974381639', '37.5479027742714']
============ now start idx : 185
['비이커 한남점', '서울 용산구 이태원로 241', '127.000009051592', '37.5366192665732']
============ now start idx : 187
['인생네컷 서울숲점', '서울 성동구 서울숲4길 20', '127.043010183447', '37.547189170196']
============ now start idx : 189
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 191
['아트리움', '서울 송파구 송파대로42길 40', '127.111407835534', '37.5067660626364']
============ now start idx : 192
['코엑스', '서울 강남구 영동대로 513', '127.05882784390123', '37.51266138067201']
============ now start idx : 193
['현대백화점유플렉스 신촌점', '서울 서대문구 연세로 13', '126.93661730245256', '37.55673777941326']
============ now start idx : 194
['신세계백화점 강남점', '서울 서초구 신반포로 176', '127.00432032924516', '37.505305732081965']
============ now start idx : 195
['신세계백화점 강남점', '서울 서초구 신반포로 176', '127.00432032924516', '37.505305732081965']
============ now start idx : 197
['롯데백화점 일산점', '경기 고양시 일산동구 중앙로 1283', '126.77213362798275', '37.66047104881414']
============ now start idx : 198
['롯데백화점 잠실점', '서울 송파구 올림픽로 240', '127.0985552869803', '37.51201141930842']
============ now start idx : 199
['갤러리아백화점 WEST점', '서울 강남구 압구정로 343', '127.04014394421372', '37.52842774945761']
============ now start idx : 200
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 201
['고디바 롯데본점', '서울 중구 을지로 30', '126.981794859925', '37.5650533709053']
============ now start idx : 202
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 203
['더현대 서울', '서울 영등포구 여의대로 108', '126.92844612411159', '37.525872071029134']
============ now start idx : 206
['롯데백화점 부산본점', '부산 부산진구 가야대로 772', '129.05641460694002', '35.15679136281396']
============ now start idx : 207
['Apple 가로수길', '서울 강남구 가로수길 43', '127.02272940977892', '37.520819816124934']
============ now start idx : 208
['롯데백화점 본점', '서울 중구 남대문로 81', '126.98175414832635', '37.564905601247865']
============ now start idx : 209
['누공삼', '서울 중구 을지로35길 51-4', '127.001358327438', '37.5690605943379']
============ now start idx : 211
['롯데월드타워&롯데월드몰', '서울 송파구 올림픽로 300', '127.104079482694', '37.5136519138098']
============ now start idx : 212
['망원한강공원', '서울 마포구 마포나루길 467', '126.900027640945', '37.5517245459018']
============ now start idx : 213
['DDP PLAN', '서울 동대문구 답십리로 130', '127.052401269139', '37.5728547763305']
============ now start idx : 214
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 215
['소공원', '부산 해운대구 재송동 74-1', '129.131550499286', '35.1838026475291']
============ now start idx : 216
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 217
['롯데월드타워', '서울 송파구 올림픽로 300', '127.10255558658325', '37.51260447840551']
============ now start idx : 223
['29CM', '서울 강남구 선릉로93길 35', '127.045720276867', '37.5043752347879']
============ now start idx : 224
['갤러리아백화점 WEST점', '서울 강남구 압구정로 343', '127.04014394421372', '37.52842774945761']
============ now start idx : 225
['롯데프리미엄아울렛 타임빌라스', '경기 의왕시 바라산로 1', '127.00966453587901', '37.37618093032447']
============ now start idx : 227
['을지로지하상가', '서울 중구 을지로 지하 106', '126.989758599285', '37.5662256252258']
============ now start idx : 228
['원모어백', '서울 종로구 필운대로 6-1', '126.969375665272', '37.5766484135984']
============ now start idx : 230
['에스팩토리 A동', '서울 성동구 연무장15길 11', '127.05890018000206', '37.54280886352306']
============ now start idx : 231
['노마드타투 이태원점', '서울 용산구 회나무로6길 17', '126.988857264176', '37.538139629567']
============ now start idx : 232
['현대백화점유플렉스 신촌점', '서울 서대문구 연세로 13', '126.93661730245256', '37.55673777941326']
============ now start idx : 233
['프로젝트렌트 2호점', '서울 성동구 서울숲길 50', '127.042974381639', '37.5479027742714']
============ now start idx : 234
['신세계백화점 대구점', '대구 동구 동부로 149', '128.6289648557988', '35.8777969311124']
============ now start idx : 235
['롯데몰 은평점', '서울 은평구 통일로 1050', '126.917745736334', '37.637627926333']
============ now start idx : 237
['현대백화점 판교점', '경기 성남시 분당구 판교역로146번길 20', '127.11204751299005', '37.39279718014944']
============ now start idx : 238
['서울숲카페거리', '서울 성동구 성수동1가 668-11', '127.043028992489', '37.5464440372535']
============ now start idx : 239
['호카 롯데월드몰 잠실점', '서울 송파구 올림픽로 300', '127.104133720427', '37.5136122218451']
============ now start idx : 240
['롯데백화점 평촌점', '경기 안양시 동안구 시민대로 180', '126.95046566549613', '37.39022151853505']
============ now start idx : 241
['롯데몰 수원점', '경기 수원시 권선구 세화로 134', '126.99729885128', '37.2639881931194']
============ now start idx : 243
['DDP패션몰', '서울 중구 마장로 22', '127.012156747242', '37.5673174505789']
============ now start idx : 244
['LCDC서울', '서울 성동구 연무장17길 10', '127.06154597509', '37.5417353247515']
============ now start idx : 245
['신세계백화점 천안아산점', '충남 천안시 동남구 만남로 43', '127.15606633618994', '36.81948953261511']
============ now start idx : 246
['갤러리더봄', '서울 성동구 서울숲2길 42', '127.043140957778', '37.5463349755257']
============ now start idx : 248
['롯데백화점 본점', '서울 중구 남대문로 81', '126.98175414832635', '37.564905601247865']
============ now start idx : 249
['신세계백화점 강남점', '서울 서초구 신반포로 176', '127.00432032924516', '37.505305732081965']
============ now start idx : 252
['하루필름 연남점', '서울 마포구 동교로46길 40', '126.926725005048', '37.5621542536479']
============ now start idx : 253
['플레이달록', '서울 강남구 논현로159길 22-1', '127.026018628013', '37.5230941692676']
============ now start idx : 256
['황령산 봉수대', '부산 부산진구 전포동 50-1', '129.081975486375', '35.1572485849507']
============ now start idx : 261
['서울숲', '서울 성동구 성수동1가 678-1', '127.037617759165', '37.5443222301513']

In [ ]:
con1 = (df_popup['address']!='') & (df_popup["start_ymd"]!='')
len(df_popup[con1])

665

- 아직 괜찮다고 판단. 필요할 경우 date 및 location 전처리에서 제거된 데이터를 수기로 설정해줄 필요가 있어보임.

In [ ]:
df_popup[['x', 'y']] = df_popup[['x', 'y']].astype(float)

In [ ]:
df_popup = df_popup[con1]
df_popup

,brandNm,product,location,date,post_date,origin_data_index,start_ymd,end_ymd,date_diff,address_name,address,x,y
0,Dr. GOT YOU,식료품 및 굿즈,신세계 프리미엄 아울렛 여주점 EAST 광장,06.02(금)-06.11(일),2023-05-31,0.0,20230602,20230611,9,신세계프리미엄아울렛 여주 EAST,경기 여주시 명품로 360,127.612990,37.242171
2,타키,캠핑용품,벨라시타,4/19~4/28,2019-04-19,2.0,20190419,20190428,9,벨라시타,경기 고양시 일산동구 강송로 33,126.791452,37.642055
3,르르르 하우스,팝업스토어,마포구 와우산로23길 56,2021.12.24(금)-2022.01.07(금),2022-01-03,3.0,20221224,20230107,14,팝마트 플래그십 스토어,서울 마포구 와우산로23길 56,126.923789,37.555260
4,한달만고깃집,고깃집,강남구 선릉로155길 23-4 2층,03.15(수)-04.14(금),2023-04-01,4.0,20230315,20230414,30,후추네,서울 강남구 선릉로155길 23-4,127.037434,37.525437
5,노우라이,바디 케어,성수,02.14(화)-03.19(일),2023-03-03,5.0,20230214,20230319,33,서울숲카페거리,서울 성동구 성수동1가 668-11,127.043029,37.546444
...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,무유무유,팝업스토어,롯데몰 김포공항점,1.15(금) - 4.25(일),2021-01-25,882.0,20210115,20210425,100,롯데몰 김포공항점,서울 강서구 하늘길 지하 77,126.803148,37.563366
865,아슬란,장산 마늘빵,현대백화점 울산점,8.16~8.22,2019-08-21,883.0,20190816,20190822,6,현대백화점 울산점,울산 남구 삼산로 261,129.335747,35.539595
866,아크메드라비,패션,롯데백화점 본점,6/28~7/14,2019-06-30,884.0,20190628,20190714,16,롯데백화점 본점,서울 중구 남대문로 81,126.981754,37.564906
867,카카오프렌즈,치즈볼,강남,3/15~4/14,2019-03-20,885.0,20190315,20190414,30,압구정로데오거리,서울 강남구 신사동 668-33,127.039152,37.526756
868,레고,다양한 제품,송파구 올림픽로 300 잠실 롯데월드몰 1층,01.13(금)-01.25(수),2023-01-17,886.0,20230113,20230125,12,호카 롯데월드몰 잠실점,서울 송파구 올림픽로 300,127.104134,37.513612

In [ ]:
# csv로 저장
df_popup.to_csv('popup_info_df.csv', sep='|')

### 동일값 판단하여 제거
- 기준
 - 브랜드 이름이 같고, 위치가 같은 경우
 - 브랜드 이름이 같고, 날짜가 같은 경우

### 브랜드 이름을 기준으로 유사한 값 제거
 - 코사인 유사도를 통해 동일한 것으로 판단되는 데이터를 삭제한다.
 - 기준 : 유사도 0.8 이상인 데이터를 나열 후, 사람이 판단하여 해당 인덱스를 제거

In [ ]:
def similar(a, b) :
    return SequenceMatcher(None, a, b).ratio()

#### 적정한 코사인 유사도 정의를 위한 테스트

In [ ]:
for rat in np.arange(0.1, 1.1, 0.1) :
    rat = round(rat, 1)
    COS_RATIO = rat

    cnt = 0
    for index, data in df_popup.iterrows() :
        df_sim = pd.DataFrame(columns=['similar'])
        df_sim['similar'] = df_popup['brandNm'][(index+1):].apply(similar, args=[data['brandNm']]) #유사도 계산
        df_sim = df_sim[df_sim['similar']>=COS_RATIO]
        df_sim = df_sim.sort_values(by=['similar'], ascending=False)

        if len(df_sim) > 0 :
            cnt += 1
            # print(data['brandNm'])
            # display(df_popup.loc[df_sim.index][['brandNm']])

    print(f'설정한 코사인 유사도 : {COS_RATIO} => 결과 건수 : {cnt}')

설정한 코사인 유사도 : 0.1 => 결과 건수 : 483
설정한 코사인 유사도 : 0.2 => 결과 건수 : 474
설정한 코사인 유사도 : 0.3 => 결과 건수 : 367
설정한 코사인 유사도 : 0.4 => 결과 건수 : 264
설정한 코사인 유사도 : 0.5 => 결과 건수 : 165
설정한 코사인 유사도 : 0.6 => 결과 건수 : 66
설정한 코사인 유사도 : 0.7 => 결과 건수 : 53
설정한 코사인 유사도 : 0.8 => 결과 건수 : 43
설정한 코사인 유사도 : 0.9 => 결과 건수 : 40
설정한 코사인 유사도 : 1.0 => 결과 건수 : 39

#### 제거 진행

In [ ]:
from haversine import haversine

a = (df_popup.loc[0, 'y'], df_popup.loc[0, 'x'])
b = (df_popup.loc[2, 'y'], df_popup.loc[2, 'x'])
print(a)
haversine(a, b, unit='km')

(37.24217050143996, 127.61298983008768)

85.07423610736377

In [ ]:
def dist_cal(data, standard_xy) :
    comp_xy = (data['y'], data['x'])
    return haversine(comp_xy, standard_xy, unit='km')

In [ ]:
print(f'###### 전처리 전 데이터 개수 : {len(df_popup)}') #573

COS_RATIO = 0.6

for index, data in df_popup.iterrows() :
    
    # 브랜드 이름의 유사도 계산
    df_sim = pd.DataFrame(columns=['similar'])
    df_sim['similar'] = df_popup['brandNm'].apply(similar, args=[data['brandNm']]) #유사도 계산
    df_sim.drop(index, axis=0, inplace=True)
    df_sim = df_sim[df_sim['similar']>=COS_RATIO]
    df_sim = df_sim.sort_values(by=['similar'], ascending=False)

    if len(df_sim) < 1 :
        continue

    df_comp = df_popup.loc[df_sim.index]
    
    #날짜
    con1 = df_comp['start_ymd'] == data['start_ymd']
    con2 = df_comp['end_ymd'] == data['end_ymd']

    if df_comp[con1&con2].empty :
        continue

    #위치
    standard = (data['y'], data['x'])
    df_comp['distance'] = df_comp[['x','y']].apply(dist_cal, args=[standard], axis=1)

    if df_comp[df_comp['distance']<=1.0].empty :
        continue
    
    df_popup.drop(index, axis=0, inplace=True)

print(f'###### 전처리 후 데이터 개수 : {len(df_popup)}')

###### 전처리 전 데이터 개수 : 665
###### 전처리 후 데이터 개수 : 661

In [ ]:
#최종 정보이므로 인덱스 리셋
df_popup.reset_index(drop=True, inplace=True)
df_popup.index.name = 'id'

# csv로 저장
df_popup.to_csv('popup_info_df.csv', sep='|')

# KakaoAPI로 주변 정보 가져오기

In [ ]:
api_key = '' # Kakao Api Key 입력
api = Local(service_key = api_key)

In [ ]:
df_popup = pd.read_csv("popup_info_df.csv", index_col=0, sep="|")
df_popup

,brandNm,product,location,date,post_date,origin_data_index,start_ymd,end_ymd,date_diff,address_name,address,x,y
id,,,,,,,,,,,,,
0,Dr. GOT YOU,식료품 및 굿즈,신세계 프리미엄 아울렛 여주점 EAST 광장,06.02(금)-06.11(일),2023-05-31,0.0,20230602,20230611,9,신세계프리미엄아울렛 여주 EAST,경기 여주시 명품로 360,127.612990,37.242171
1,타키,캠핑용품,벨라시타,4/19~4/28,2019-04-19,2.0,20190419,20190428,9,벨라시타,경기 고양시 일산동구 강송로 33,126.791452,37.642055
2,르르르 하우스,팝업스토어,마포구 와우산로23길 56,2021.12.24(금)-2022.01.07(금),2022-01-03,3.0,20221224,20230107,14,팝마트 플래그십 스토어,서울 마포구 와우산로23길 56,126.923789,37.555260
3,한달만고깃집,고깃집,강남구 선릉로155길 23-4 2층,03.15(수)-04.14(금),2023-04-01,4.0,20230315,20230414,30,후추네,서울 강남구 선릉로155길 23-4,127.037434,37.525437
4,노우라이,바디 케어,성수,02.14(화)-03.19(일),2023-03-03,5.0,20230214,20230319,33,서울숲카페거리,서울 성동구 성수동1가 668-11,127.043029,37.546444
...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,무유무유,팝업스토어,롯데몰 김포공항점,1.15(금) - 4.25(일),2021-01-25,882.0,20210115,20210425,100,롯데몰 김포공항점,서울 강서구 하늘길 지하 77,126.803148,37.563366
657,아슬란,장산 마늘빵,현대백화점 울산점,8.16~8.22,2019-08-21,883.0,20190816,20190822,6,현대백화점 울산점,울산 남구 삼산로 261,129.335747,35.539595
658,아크메드라비,패션,롯데백화점 본점,6/28~7/14,2019-06-30,884.0,20190628,20190714,16,롯데백화점 본점,서울 중구 남대문로 81,126.981754,37.564906
659,카카오프렌즈,치즈볼,강남,3/15~4/14,2019-03-20,885.0,20190315,20190414,30,압구정로데오거리,서울 강남구 신사동 668-33,127.039152,37.526756
660,레고,다양한 제품,송파구 올림픽로 300 잠실 롯데월드몰 1층,01.13(금)-01.25(수),2023-01-17,886.0,20230113,20230125,12,호카 롯데월드몰 잠실점,서울 송파구 올림픽로 300,127.104134,37.513612

## 지하철역, 주차장, 음식점, 카페 정보 가져오기

In [ ]:
df_subway = pd.DataFrame(columns=['id', 'subway_name', 'subway_line', 'distance', 'x', 'y'])
df_peri_info = pd.DataFrame(columns=['id', 'category', 'place_name', 'distance', 'x', 'y'])

for index, data in tqdm(df_popup.iterrows(), total=len(df_popup)) :
    # 주변 지하철역
    # 1km 반경
    result =  api.search_category('SW8', x=data['x'], y=data['y'], radius=1000, dataframe=True)

    if not result.empty :
        # 데이터셋 정제
        result = result[['distance', 'place_name', 'x', 'y']]
        result['subway_name'] = result.place_name.str.split(' ').str[0]
        result['subway_line'] = result.place_name.str.split(' ').str[1]
        result.drop(['place_name'], axis='columns', inplace=True)
        result['distance'] = result['distance'].astype(int)
        result['id'] = index
        result.sort_values(by='subway_name', inplace=True)
        df_subway = pd.concat([df_subway, result], ignore_index=True)
    
    result1 = api.search_category('PK6', x=data['x'], y=data['y'], radius=1000, size=5, dataframe=True) # 주변 주차장
    result2 = api.search_category('FD6', x=data['x'], y=data['y'], radius=1000, size=5, dataframe=True) # 주변 음식점
    result3 = api.search_category('CE7', x=data['x'], y=data['y'], radius=1000, size=5, dataframe=True) # 주변 카페

    df_tmp = pd.concat([result1, result2, result3], ignore_index=True)

    if not df_tmp.empty :
        df_tmp = df_tmp[['category_group_code', 'distance', 'place_name', 'x', 'y']]
        df_tmp.rename(columns={'category_group_code':'category'}, inplace=True)
        df_tmp['id'] = index
        df_peri_info = pd.concat([df_peri_info, df_tmp], ignore_index=True)

100%|██████████| 661/661 [36:04<00:00,  3.28s/it]

In [ ]:
df_peri_info

,id,category,place_name,distance,x,y
0,0,PK6,여주프리미엄아울렛 B주차장,155,127.613596810081,37.2408599608713
1,0,PK6,신세계프리미엄아울렛 여주점 주차장A,246,127.6125798892741,37.239978610517596
2,0,PK6,여주프리미엄아울렛 D주차장,91,127.613671102469,37.2427949917445
3,0,PK6,여주프리미엄아울렛 E주차장,322,127.612697684921,37.2450634230512
4,0,PK6,여주프리미엄아울렛 H주차장,422,127.609135538444,37.2399423162801
...,...,...,...,...,...,...
9858,660,CE7,놀숲 송파구청점,436,127.108768686634,37.5149739660108
9859,660,CE7,놀숲 송파점,876,127.108525721995,37.5065371874882
9860,660,CE7,라라브레드 송파점,518,127.10910244054197,37.511138986438866
9861,660,CE7,뉴질랜드스토리,459,127.105842950648,37.509703949514
9862,660,CE7,서정적살롱,421,127.10623838872736,37.510200948839035

In [ ]:
# csv로 저장
df_subway.to_csv('df_subway.csv', sep='|')
df_peri_info.to_csv('df_peri_info.csv', sep='|')

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-80-3c26f1068045>", line 2, in <cell line: 2>
    df_subway.to_csv('df_subway.csv', sep='|')
  File "/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pandas/core/generic.py", line 3720, in to_csv
    return DataFrameRenderer(formatter).to_csv(
  File "/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py", line 1189, in to_csv
    csv_formatter.save()
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/formats/csvs.py", line 241, in save
    with get_handle(
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/common.py", line 734, in get_handle
    check_parent_directory(str(handle))
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/common.py", line 596, in check_parent_directory
    if not parent.is_dir():
  File "/usr/lib/python3.10/pathlib.py", line 1305, in is_dir
    return S_ISDIR(self.stat().st_mode)
  File "/usr/lib/python3.10/pathlib.py", line 1097, in stat
    return self._accessor.stat(self, follow_symlinks=follow_symlinks)
OSError: [Errno 107] Transport endpoint is not connected: '.'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.10/inspect.py", line 1662, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.10/inspect.py", line 1620, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.10/inspect.py", line 829, in getsourcefile
    module = getmodule(object, filename)
  File "/usr/lib/python3.10/inspect.py", line 861, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.10/inspect.py", line 845, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.10/posixpath.py", line 384, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-80-3c26f1068045>", line 2, in <cell line: 2>
    df_subway.to_csv('df_subway.csv', sep='|')
  File "/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pandas/core/generic.py", line 3720, in to_csv
    return DataFrameRenderer(formatter).to_csv(
  File "/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py", line 1189, in to_csv
    csv_formatter.save()
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/formats/csvs.py", line 241, in save
    with get_handle(
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/common.py", line 734, in get_handle
    check_parent_directory(str(handle))
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/common.py", line 596, in check_parent_directory
    if not parent.is_dir():
  File "/usr/lib/python3.10/pathlib.py", line 1305, in is_dir
    return S_ISDIR(self.stat().st_mode)
  File "/usr/lib/python3.10/pathlib.py", line 1097, in stat
    return self._accessor.stat(self, follow_symlinks=follow_symlinks)
OSError: [Errno 107] Transport endpoint is not connected: '.'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3575, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.10/inspect.py", line 1662, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.10/inspect.py", line 1620, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.10/inspect.py", line 829, in getsourcefile
    module = getmodule(object, filename)
  File "/usr/lib/python3.10/inspect.py", line 861, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.10/inspect.py", line 845, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.10/posixpath.py", line 384, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-80-3c26f1068045>", line 2, in <cell line: 2>
    df_subway.to_csv('df_subway.csv', sep='|')
  File "/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pandas/core/generic.py", line 3720, in to_csv
    return DataFrameRenderer(formatter).to_csv(
  File "/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py", line 1189, in to_csv
    csv_formatter.save()
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/formats/csvs.py", line 241, in save
    with get_handle(
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/common.py", line 734, in get_handle
    check_parent_directory(str(handle))
  File "/usr/local/lib/python3.10/dist-packages/pandas/io/common.py", line 596, in check_parent_directory
    if not parent.is_dir():
  File "/usr/lib/python3.10/pathlib.py", line 1305, in is_dir
    return S_ISDIR(self.stat().st_mode)
  File "/usr/lib/python3.10/pathlib.py", line 1097, in stat
    return self._accessor.stat(self, follow_symlinks=follow_symlinks)
OSError: [Errno 107] Transport endpoint is not connected: '.'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3575, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3030, in _run_cell
    return runner(coro)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3257, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3492, in run_ast_nodes
    self.showtraceback()
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2101, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.10/inspect.py", line 1662, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.10/inspect.py", line 1620, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.10/inspect.py", line 829, in getsourcefile
    module = getmodule(object, filename)
  File "/usr/lib/python3.10/inspect.py", line 861, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.10/inspect.py", line 845, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.10/posixpath.py", line 384, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected